
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --ff: "Montserrat", sans-serif;
  --colorprimary: #f5f5f5;
  --colorsecondary: #f5f5f5;
  --coloraccent: #212631;
  --h1: bold 52px/72px var(--ff);
  --p: 18px/30px var(--ff);
  --li: 18px/30px var(--ff);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color:#212631;

    color: var(--colorprimary);
    font: var(--p);

    margin: 0; 
    padding: 0;
}

h1{
    font: var(--h1);
}

p, li{
    font: var(--p);
}

ul li{
    margin-top: 20px;
}

a{
    background: var(--coloraccent);
    color: var(--colorprimary);
    padding: 20px 40px;
    text-decoration: none;
    font-weight: bold;
}


.empty-div{
    height: 30vh;
    background-color:rgba(52, 61, 76, 0.074);
}

.top-nav-bar{
    width: 100%; 
    position: sticky;
    top: 0;
    display: flex;
    background-color: #212631;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    
}
.top-nav-bar-item{
    align-content: center;
    align-items:center;

    display: flex;
    flex: 1;
    justify-content: end;
}

.card-cus{
    /*Makes the cards flexible */
    width: 100%;
    max-width: 150vh;
    padding: 9vh;
    padding-left: 20vh;
    padding-right: 20vh;
    margin: auto;

    background-color: #212631;
    border-radius: 20px;
    margin-bottom: 10px;
}

.image{
    /*Setting a max image width and height para kung mas malake pa jan, hindi mag overflow */
    width: 100%;
    max-width: 480px;
    max-height: 800px;
    margin-left: 10%;
}

.button{
    display: inline-block;
    min-width: 8rem;
    min-height:2rem;
    border-radius:20px;

    align-items:center;
    align-content: center;
    text-align:center;
    transition: all 0.3s ease;

    /*Para hindi mag shift ang size ng button upon hover*/
    border-width: 1px;
    border-style:solid;

}
.button-light{
    background-color: #f5f5f5;
    color: #212631;

    text-decoration: none;
    border-width: 1px;
}
.button-light:hover{
    background-color: #212631;
    color: #f5f5f5;
    
    border-width: 1px;
    border-color:#f5f5f5;
    border-style:solid;
}